<div class="home-container">
    <img src="/logo2.png" alt="PMAnimal Logo" class="logo">
    <a href="/home">
        <button class="beautiful-button">Voltar</button>
    </a>
    <a href="/animal-register">
        <button class="button-registar">
            <span class="button-content-registar">Registar</span>
        </button>
    </a>
    <a href="/animals">
        <button class="button-registados">
            <span class="button-content-registados">Animais Registados</span>
        </button>
    </a>

    <div class="form-container">
        <form>
            <h2>Registar Animal</h2>
            <div class="form-group">
                <label for="owner-name">Nome do Dono</label>
                <input type="text" id="owner-name" name="owner-name" placeholder="Digite o nome do dono">
            </div>
    
            <div class="form-group">
                <label for="owner-contact">Contacto do Dono</label>
                <input type="text" id="owner-contact" name="owner-contact" placeholder="Digite o contato do dono">
            </div>
    
            <div class="form-group">
                <label for="animal-name">Nome do Animal</label>
                <input type="text" id="animal-name" name="animal-name" placeholder="Digite o nome do animal">
            </div>
    
            <div class="form-group">
                <label for="animal-type">Tipo de Animal</label>
                <input type="text" id="animal-type" name="animal-type" placeholder="Digite o tipo de animal">
            </div>
    
            <div class="form-group">
                <label for="animal-breed">Raça do Animal</label>
                <input type="text" id="animal-breed" name="animal-breed" placeholder="Digite a raça do animal">
            </div>
    
            <div class="form-group">
                <label for="animal-age">Idade do Animal</label>
                <input type="number" id="animal-age" name="animal-age" placeholder="Digite a idade do animal">
            </div>
    
            <button type="submit" class="submit-button">Registrar</button>
        </form>
    </div>
</div>



