<div class="home-container">
    <img src="/logo2.png" alt="PMAnimal Logo" class="logo">
    <a href="/">
        <button class="beautiful-button">Voltar</button>
    </a>
    <a href="/animal-register">
        <button class="button-registar">
            <span class="button-content-registar">Registar</span>
        </button>
    </a>
    <a href="/animals">
        <button class="button-registados">
            <span class="button-content-registados">Animais Registados</span>
        </button>
    </a>
</div>